# Last match in file takes precedence.

# Ping for all PRs
* @Acruid @PJB3005 @Silvertorch5

/Robust.*/Audio/Midi/ @Zumorica

/Robust.Client.NameGenerator @PaulRitter
/Robust.Client.Injectors @PaulRitter
/Robust.Generators @PaulRitter
/Robust.Analyzers @PaulRitter
/Robust.Server/GameStates @PaulRitter
/Robust.Client/GameStates @PaulRitter
/Robust.Shared/Analyzers @PaulRitter
/Robust.Shared/Serialization @PaulRitter
/Robust.Client/Serialization @PaulRitter
/Robust.Shared/Prototypes @PaulRitter
/Robust.Client/Prototypes @PaulRitter
/Robust.Server/Prototypes @PaulRitter
/Robust.Shared/GameObjects/ComponentDependencies @PaulRitter
/Robust.Shared/Containers @PaulRitter
/Robust.Server/Containers @PaulRitter

# Be they Fluent translations or Freemarker templates, I know them both!
*.ftl @RemieRichards
