version: 0.1.0.{build}
pull_requests:
  do_not_increment_build_number: true

image: Visual Studio 2017
clone_depth: 1
before_build:
- cmd: nuget restore SpaceStation14.sln

build:
  project: SpaceStation14.sln
  parallel: true
  verbosity: minimal

test: off
