environment:
  sonarqubekey:
    secure: hks000+vvAV9lBFLKVfxW25UdOqLKxJ3I7KvN95bQTbz3G4fE6iKTYp9S8q7ipBN
  global:
    PYTHONUNBUFFERED: True
    HEADLESS: 1  # For the unit tests.

version: 0.1.0.{build}
pull_requests:
  do_not_increment_build_number: true

image: Visual Studio 2017
clone_depth: 1
install:
- cinst: msbuild-sonarqube-runner

before_build:
- cmd: nuget restore SpaceStation14.sln
- cmd: MSBuild.SonarQube.Runner.exe begin /k:"ss14" /d:"sonar.host.url=https://sonarqube.com" /d:"sonar.login=$env:sonarqubekey" /d:"sonar.organization=space-wizards"

build:
  project: SpaceStation14.sln
  parallel: true
  verbosity: minimal

after_build:
- cmd: MSBuild.SonarQube.Runner.exe end /d:"sonar.login=$env.sonarqubekey"
#- cmd: py -3.5 Resources\buildResourcePack.py --resources-dir .\Resources --out .\Resources\ResourcePack.zip --sprite-renderer .\Resources\SpriteRenderer\MSpriteRenderer.exe --atlas-tool .\Tools\AtlasTool.exe --to-stderr

before_test:
- ps: 'Invoke-WebRequest -Uri "http://84.195.252.227/static/ResourcePack.zip" -OutFile "Resources\ResourcePack.zip"'
