[submodule "SFML"]
	path = SFML
	url = https://github.com/space-wizards/SFML.Net.git
[submodule "SS14.Shared.Bsdiff"]
	path = SS14.Shared.Bsdiff
	url = https://github.com/space-wizards/ss14.shared.bsdiff.git
