[submodule "NetSerializer"]
	path = NetSerializer
	url = https://github.com/Space-Wizards-Federation/netserializer
[submodule "Lidgren.Network"]
	path = Lidgren.Network/Lidgren.Network
	url = https://github.com/Space-Wizards-Federation/SpaceWizards.Lidgren.Network
[submodule "XamlX"]
	path = XamlX
	url = https://github.com/Space-Wizards-Federation/XamlX
[submodule "Robust.LoaderApi"]
	path = Robust.LoaderApi
	url = https://github.com/Space-Wizards-Federation/Robust.LoaderApi.git
[submodule "cefglue"]
	path = cefglue
	url = https://github.com/Space-Wizards-Federation/cefglue.git
