# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Roslyn cache directories
*.ide/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Program databases
*.pdb

# WinMerge backups
*.bak

*.vspscc
*.vssscc
.builds
*.pidb
*.svclog

*.userprefs

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# Build results
bin/
obj/

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Resources
*.resources
/Resources/textures/Animations/*.*
/Resources/ResourcePack.zip
/Resources/textures/*_Animations.png
/Resources/textures/*_Decals.png
/Resources/textures/*_Effects.png
/Resources/textures/*_Items.png
/Resources/textures/*_Objects.png
/Resources/textures/*_Tiles.png
/Resources/textures/*_UserInterface.png
/Resources/textures/*.TAI
/Resources/SpriteRenderer/Ogre.log
/Resources/Spriterenderer/output
/Media
/setenv.bat

# NuGet stuff.
/.nuget
*.nupkg
project.lock.json
*.nuget.props

.vs/
.vscode/
/packages/


.sync/

# MacOS finder makes these.
.DS_Store
# KDE Dolphin makes these, maybe it's even XDG standard, kinda hard to Google.
# I do know it doesn't make them by merely opening the directory like some other file manager *cough* *cough*
.directory

# Created by NUnit.
TestResult.xml

NetSerializerDebug.dll

# We're not gonna ship Mac extlibs with the repo due to size. (11 MB)
Third-Party/extlibs/Mac/
# Or the automatically-fetched Windows natives, for that matter.
Third-Party/extlibs/Windows/

# Actually I'll make this folder because SS14.Shared.Bsdiff isn't third-party is it?
Dependencies/

# Python stuff
__pycache__
.mypy_cache

MSBuild/Robust.Custom.targets

.idea/


release/
