<?xml version="1.0" encoding="utf-8" ?>
<PersistentConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Port>1212</Port>
  <ServerName>SS13 Server</ServerName>
  <AdminPassword>admin123</AdminPassword>
  <MessageLogging>true</MessageLogging>
</PersistentConfiguration>