name: Build & Publish DocFX

on:
  push:
    branches: [ master ]

jobs:
  docfx:
   runs-on: ubuntu-latest
   steps: 
    - uses: actions/checkout@v2
      with:
        submodules: true

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
        
    - name: Install dependencies
      run: dotnet restore
      
    - name: Build Project
      run: dotnet build --no-restore /p:WarningsAsErrors=nullable

    - name: Build DocFX
      uses: nikeee/docfx-action@v1.0.0      
      with:
        args: Robust.Docfx/docfx.json
    
    - name: Publish Docfx Documentation on GitHub Pages
      uses: maxheld83/ghpages@master
      env:
        BUILD_DIR: Robust.Docfx/_robust-site 
        GH_PAT: ${{ secrets.GH_PAT }} 
